* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #e5ddd5; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.aplicativo-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.barra-lateral {
    width: 300px;
    height: 100vh;
    background-color: #e5ddd5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.cabecalho-barra-lateral {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #128C7E;
}
.barra-pesquisa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.numero-input {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #128C7E;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #128C7E;
}
.lista-conversas {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
.contato {
    padding: 12px;
    cursor: pointer;
    border-bottom: 2px solid #000000; 
}
.contato:hover {
    background-color: #f1f1f1;
}
.area-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
}
.cabecalho-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #128C7E;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
}
.mensagens {
    flex: 1;
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 8px;
    height: calc(100% - 80px);
}
.mensagem {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}
.mensagem small {
    display: block;
    color: #888;
    font-size: 0.9rem;
}
.mensagem.me {
    background-color: #dcf8c6;
    text-align: right;
}
.mensagem.contato {
    background-color: #ffffff;
}
.entrada-mensagem {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#entradaMensagem {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
#botaoEnviar {
    width: 15%;
    padding: 10px;
    border-radius: 20px;
    background-color:  #128C7E;
    color: white;
    border: none;
    cursor: pointer;
}
#botaoEnviar:hover {
    background-color: #128C7E;
}